<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
    <title>EEI</title>
  </head>
  <body>
    <header>
      <div class="col-md-10 center">
        <a href="index.html">
          <p id="brandName">Engineering Evaluations Inc.</p>
        </a>
        <nav>
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="services.html">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="contact.html">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div class="col-md-8 center">
        <h1>Contact Us</h1>
      </div>
      <form class="contactForm col-md-6">
        <div class="form-group">
          <label for="formName">Name</label>
          <input
            type="text"
            class="form-control"
            id="formName"
            placeholder="John Smith"
          />
          <label for="formEmail">Email address</label>
          <input
            type="email"
            class="form-control"
            id="formEmail"
            placeholder="name@example.com"
          />
        </div>
        <div class="form-group">
          <label for="formSubject">Subject</label>
          <select class="form-control" id="formSubject">
            <option id="default" value="default">-----Chose One-----</option>
            <option>Building Inspection</option>
            <option>Failure Analysis</option>
            <option>Insurance Claims</option>
            <option>Expert Witness</option>
            <option>Design</option>
            <option>Other</option>
          </select>
        </div>
        <div class="form-group">
          <label for="formMessage">Message</label>
          <textarea class="form-control" id="formMessage" rows="3"></textarea>
        </div>
        <div id="error"></div>
        <button id="contactBtn" type="submit" class="btn btn-dark">
          Submit
        </button>
      </form>
    </main>
    <footer>
      <div class="col-md-10 center">
        <div class="row">
          <div class="col-md-6">
            <address class="clear">
              Engineering Evaluations Inc.<br />
              10000 Watson Rd.Suite L32<br />
              St.Louis, MO 63126<br />
              <span id="desktop">314-821-8282</span>
              <a id="mobile" href="tel:480-555-5555">480-555-5555</a><br />
            </address>
          </div>
          <div class="col-md-6">
            <ul id="btmNav">
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="services.html">Services</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="textAlign">
          <small
            >Engineering Evaluations Inc. | All Rights Reserved 2020 ©</small
          >
        </div>
      </div>
    </footer>
    <!-- jQuery first, then Popper.js, Bootstrap JS, Modernizer JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script src="../public/js/modernizer.custom.05819.js"></script>
    <script src="../public/js/script.js"></script>
  </body>
</html>

<!-- Almost all of my code errors in the history of ever are syntax errors. Either spelling or parentheses and brackets. I use an extension called prettier that automaticaly fixes indenting and simple syntax errors like missing semi colons and commas so that is very helpful.

The debugging I did in this assignment was primarily with the #formSubject selection area. I was trying to make .prop("check") work as if it was a check box as I have previously done on my calculations page. This obviously did not work and I found that out because it was skipping over this exception handling and jumping straight to "Enter a message" when the drop down was still on default. I guess that would be a logic error because the syntax was correct, I just used the wrong method so it did not do what I wanted it to do. 

This was a pretty simple activity so I didnt use the console but typically I live and breath using console.log(). On more complex projects I will use a linter. I'll be honest, I dont like those very much and only find them useful on group projects.

I had never used the watch function in the inspector so that was a cool thing to learn. Oftentimes variables change ten times before I need them and sometimes I dont know where my code broke down so thats useful -->
