<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
    <title>EEI</title>
  </head>
  <body>
    <header>
      <div class="col-md-10 center">
        <a href="index.html">
          <p id="brandName">Engineering Evaluations Inc.</p>
        </a>
        <nav>
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="services.html">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="security.html">Web Security</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="col-md-8 center">
      <h1>Web Security</h1>

      <h2>What can a browser access?</h2>
      <p>This web page knows:</p>
      <ul>
        <li>
          You are on a screen that is
          <span class="bold" id="screenHeight"></span> x
          <span class="bold" id="screenWidth"></span>
        </li>
        <li>Your operating system is <span id="oS" class="bold"></span></li>
        <li>Your browser is <span id="browser" class="bold"></span></li>
        <li>Your browser version is <span id="version" class="bold"></span></li>
        <li>Your location is <span id="location" class="bold"></span></li>
        <li>You are currently <span class="bold" id="line"></span></li>
      </ul>

      <h3>Learn more</h3>
      <ul>
        <li>
          <a
            href="https://www.vcpi.com/blog/best-practices-for-secure-web-browsing"
            >10 Best Practices for Secure Web Browsing</a
          >
          <br />
          <p>
            This resource highlights keeping your browser up to date, avoiding
            public wifi connections, and using https.
          </p>
        </li>
        <li>
          <a
            href="https://methodic.marketing/top-7-safe-internet-browsing-practices-to-begin-today/"
            >Top 7 Safe Internet Browsing Practices To Begin Today</a
          >
          <br />
          <p>
            This resource highlights improved privacy settings, avoiding
            unsecure web sites, and turning on your pop up blocker.
          </p>
        </li>
        <li>
          <a href="https://support.mozilla.org/en-US/kb/how-stay-safe-web"
            >How To Stay Safe on the Web</a
          >
          <br />
          <p>
            This resource highlights avoiding internet scams, how to read
            security policies, and what kind of downloads to be wary of.
          </p>
        </li>
      </ul>
    </main>
    <footer>
      <div class="col-md-10 center">
        <div class="row">
          <div class="col-md-6">
            <address class="clear">
              Engineering Evaluations Inc.<br />
              10000 Watson Rd.Suite L32<br />
              St.Louis, MO 63126<br />
              <span id="desktop">314-821-8282</span>
              <a id="mobile" href="tel:480-555-5555">480-555-5555</a><br />
            </address>
          </div>
          <div class="col-md-6">
            <ul id="btmNav">
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="services.html">Services</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="textAlign">
          <small
            >Engineering Evaluations Inc. | All Rights Reserved 2020 ©</small
          >
        </div>
      </div>
    </footer>
    <!-- jQuery first, then Popper.js, Bootstrap JS, Modernizer JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script src="../public/js/modernizer.custom.05819.js"></script>
    <script src="../public/js/script.js"></script>
  </body>
</html>
