body {
  /* background-color: rgb(63, 63, 63); */
}

/* -----HEADER----- */
header {
  background-color: black;
}

#brandName {
  color: white;
  display: inline-block;
  font-size: 54px;
  margin-left: 20px;
  font-family: "Times New Roman", Times, serif;
}

nav {
  display: inline-block;
  float: right;
  margin-right: 20px;
  position: relative;
  top: 59px;
}

.nav-tabs {
  border-bottom: none;
}

.nav-link .active {
  border: none;
}

nav a {
  color: white;
}

nav a:hover {
  color: white;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

/* -----MAIN----- */
main {
  margin-top: 40px;
}
/* -----HOME----- */
/* -----ABOUT----- */
/* -----SERVICES----- */

.calculate {
  margin-bottom: 200px;
  margin-top: 40px;
}

.card .btn {
  color: black;
}

.btn:hover {
  color: black;
}

.state {
  display: inline;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 0;
}

.sum {
  margin: 10px;
  margin-top: 40px;
  display: block;
}

/* -----CONTACT----- */
form {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  filter: drop-shadow(0 0 0.25rem #d0d0d0);
  box-shadow: 0 0 0.25rem #d0d0d0;
  background-color: #e4e4e4;
}

/* -----FOOTER----- */
footer {
  font-size: 14px;
  border-top: 4px solid black;
  margin-top: 40px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: white;
  width: 100%;
  padding-top: 20px;
}

small {
  color: black;
  text-align: center;
}

address {
  margin-bottom: 0;
}

#btmNav {
  list-style: none;
  float: right;
  margin-bottom: 0;
}

#btmNav a {
  color: black;
}

.textAlign {
  text-align: center;
}

/* -----MEDIA QUERIES----- */
